<launch>

  <node name = "az_soft_limit"
        type = "relay.py"
        pkg = "opust_ros">
    <param name = "config_file"
           value = "$(find opust_ros)/relay_conf/antenna_az_soft_limit.conf" />
  </node>

  <node name = "az_cmd_writer"
        type = "relay.py"
        pkg = "opust_ros">
    <param name = "config_file"
           value = "$(find opust_ros)/relay_conf/antenna_az_cmd_writer.conf" />
  </node>

  <node name = "el_soft_limit"
        type = "relay.py"
        pkg = "opust_ros">
    <param name = "config_file"
           value = "$(find opust_ros)/relay_conf/antenna_el_soft_limit.conf" />
  </node>

  <node name = "el_cmd_writer"
        type = "relay.py"
        pkg = "opust_ros">
    <param name = "config_file"
           value = "$(find opust_ros)/relay_conf/antenna_el_cmd_writer.conf" />
  </node>

</launch>
