<launch>

  <node name = "antenna_az_commander_pid"
        type = "antenna_az_commander_pid.py"
        pkg = "opu_ros">
  </node>

  <node name = "antenna_el_commander_pid"
        type = "antenna_el_commander_pid.py"
        pkg = "opu_ros">
  </node>

  <node name = "antenna_error_simulator"
        type = "antenna_error_simulator.py"
        pkg = "opu_ros">
  </node>

</launch>
